@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Merriweather', cursive;
}
body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;  
  background:url("assets/background.jpg") no-repeat center center fixed;
  background-size: cover;
}
#container {
  width: 80%;
  height:80%;
  max-width: calc(100vw - 10px);
  background-color:rgba(0,0,0,0.5);
   background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}
#head, #content{
    width:90%;
    margin:0 auto;
    text-align:center;
}
img {
  width: 185px;
  height: 185px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  filter: grayscale(40%);
  margin-top:75px;
  margin-bottom: 50px;
}
#vonal1, #vonal2{
  height:1px;
  width:60%;
  background-color:black;
  margin: 25px auto;
}
#vonal2{
    width:30%; !impornant
}
h1{
    font-size:3.2em;
    font-weight: 700;
    letter-spacing: 10px;
    text-transform: uppercase;
}
h2{
    font-size:2.2em;
    font-weight: 500;
    letter-spacing: 7px;
    text-transform: uppercase;
}
#contacts{
    font-size: 20px;
    margin-bottom:20px;
}
ul{
    list-style-type: none;
}
ul li{
    display: inline-block;
    padding:35px;
    margin:35px auto;
    letter-spacing: 3px;
    font-size:1.4em;
}
ul li i{
    margin-right: 15px;
}